h1{
	font-family: sans-serif;
	margin: 190px;
	padding: 20px;
	text-align: center;
	font-size: 30px;
	color: white;
	font-style: italic;
}


img{
	border-radius:50%;
	margin:90px; 
  object-fit: cover;
  margin-left: -100px;
    
}


h4{
	margin: 20px;
	text-align: center;
	font-size: 60px;
	font-style: italic;
	color: white;
}
 ul{
 	display: flex;
 	justify-content: space-around;
 	padding: 20px;
 	margin: 20px;
 	list-style-type: none;
 	color: white;
}


 

p {
  margin-bottom: 16px;
  font-family: open sans;
  font-weight: 400;
  line-height: 1.6;
  margin-left: -45px;
  font-size: 16px;
  color: white;

}

h6{
	text-shadow: 0px 0px 10px ;
	color: white;
	margin: 10px;
	font-size: 1.25rem;
  margin-left: -1px; 
}
 
a{
	text-decoration: none;
	color: white;
	float: center;
}

h2{
	text-align: center;
	 
 }

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Assure que la vidéo couvre toute la page */
  z-index: -1; /* Place la vidéo en arrière-plan */
}

/* Contenu de la page au-dessus de la vidéo */
.content {
  position: relative;
  z-index: 1; /* Place le contenu devant la vidéo */
  color: white;
  text-align: center;
  padding-top: 30vh; /* Ajuste la hauteur pour centrer le texte */
  font-size: 2rem;
}
 
 body{
 	margin: 0;
 }

 h5{
 	text-align: center;
 	color: white;
 	padding: 80px;
 	margin: 20px;
 	font-size: 30px;
 	font-family: sans-serif;
 }

.icon-container svg {
width: 80px; /* Largeur réduite */
height: 80px; /* Hauteur réduite */
background-color: white;
margin: 20px;
margin-left: -50px;


}

p1{
	margin-left: -90px;
	font-size: 25px;
	padding: 40px;
	font-style: italic;
	text-shadow: 0px 0px 10px;
	color: white;
}

p2{
	margin-left: -110px;
	font-size: 25px;
	padding: 40px;
	font-style: italic;
	text-shadow: 0px 0px 10px;
	color: white;
}

p3{
	margin-left: -110px;
	font-size: 25px;
	padding: 40px;
	font-style: italic;
	text-shadow: 0px 0px 10px;
}

footer{
	text-align: center;
	padding: 10px;
  margin-top: 70px;
  background-color: black; 
}

p.icon-container{
 margin-left: -90px;
	font-size: 25px;
	padding: 40px;
	font-style: italic;
	text-shadow: 0px 0px 10px;
}
}





